aiofiles==0.6.0
ajsonrpc==1.1.0
altgraph==0.17
appdirs==1.4.4
APScheduler==3.6.3
bottle==0.12.19
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
colorama==0.4.4
distlib==0.3.2
filelock==3.0.12
Flask==2.0.1
future==0.18.2
gunicorn==20.1.0
h11==0.12.0
heroku==0.1.4
idna==2.10
ifaddr==0.1.7
importlib-metadata==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
macholib==1.14
MarkupSafe==2.0.1
marshmallow==3.12.1
pefile==2021.5.24
platformio==5.1.1
pyelftools==0.27
PyInstaller==3.3.1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyserial==3.5
pyTelegramBotAPI==3.7.9
python-dateutil==1.5
python-telegram-bot==13.6
pytz==2021.1
requests==2.25.1
semantic-version==2.8.5
six==1.16.0
starlette==0.14.2
tabulate==0.8.9
tornado==6.1
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.26.5
uvicorn==0.13.4
virtualenv==20.4.7
Werkzeug==2.0.1
wsproto==1.0.0
zeroconf==0.28.8
zipp==3.4.1
